html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	color: #ffffff;
	background-color: #3e6ace;
	overflow: hidden;
}

.t {
	width: 30vw;
	height: 30vw;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p,.n {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: scaleX(0.5) translate(-50%, -50%);
	font-size: 400%;
}
.p {
	left: 10%;
}

.vgr-logo-container {
	position: absolute;
	height: 70%;
	display: flex;
	flex-flow: column;
}
.vgr-background {
	background: #005c95;
	flex: 1 1 auto;
}
.vgr-logo {
	background-image: url("/static/vgr-img.png");
	background-position: bottom;
	width: 62px;
	height: 70vh;
	max-height: 484px;
}
.vgr-name {
	color: #fff;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 500px;
	position: absolute;
	bottom: 70px;
	left: calc(4px + 0.5vw);
	font-size: 1.8vw;
}

.inline {
	display: inline-block;
}
.page-reset {
	cursor: pointer;
}
.main-chart {
	position: relative;
	width: 58%;
	height: 70%;
	vertical-align: top;
	margin: 0 2% 0 5%;
	padding: 1% 0;
	background: #fff;
	z-index: 2;
}
.main-title {
	padding-left: 1.6em;
}
span.close-filter {
	color: #fff;
	background: #a00;
	font-size: 70%;
	padding: 0.2em 0.5em;
	border-radius: 0.3em;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}
.main-holder {
	height: 100%;
}
.sub-annotations-top {
	width: 28%;
	height: 70%;
	margin: 1% 2%;
	vertical-align: top;
}
.flex-outer {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.flex-inner {
	flex: 1 1 auto;
}
.sub-annotation-top-banner {
	height: 0.5em;
}
.sub-annotations {
	height: 100%;
}
.sub-annotations-1, .sub-annotations-2, .sub-annotations-3 {
	column-count: 1;
}
.sub-annotations-4, .sub-annotations-5, .sub-annotations-6, .sub-annotations-7, .sub-annotations-8 {
	column-count: 2;
}
.sub-annotations-9, .sub-annotations-10, .sub-annotations-11, .sub-annotations-12 {
	column-count: 3;
}
.annotation-layout {
	display: inline-block;
	width: 100%;
}
.annotation-layout-1 { height: 100%; }
.annotation-layout-2, .annotation-layout-4 { height: 50%; }
.annotation-layout-3, .annotation-layout-5, .annotation-layout-6, .annotation-layout-9 { height: 33.333%; }
.annotation-layout-7, .annotation-layout-8, .annotation-layout-10, .annotation-layout-11, .annotation-layout-12 { height: 25%; }
.annotation {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.annotation-hashtag {
	height: 100%;
}
.annotation-chart {
	flex: 1 1 auto;
}
.annotation > p {
	margin: 0;
	font-size : 12px;
	color: #616161;
}
.main-annotations {
	padding: 2em;
}

.articles-top {
	margin-top: 5em;
}
table.articles {
	width: 100%;
	border-spacing: 0;
}
table.articles > tr {
	height: 2em;
	color: #777;
}
table.articles td {
	border-bottom: 1px solid #ddd;
	padding: 0.6em;
	font-size: 12px;
}
.line-no, .occurances {
	text-align: right;
}
.header {
	color: #000;
}

.bk {
	cursor: pointer;
}

table a:link, table a:visited {
	text-decoration: none;
}
table a:link {
	color: #777;
}
table a:hover {
	color: #444;
}

.dialog-overlay {
	background: #000000dd;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.annotation-dialog {
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 70%;
	min-width: 30em;
	min-height: 20em;
	border: 3px solid #000;
	z-index: 100;
}
.annotation-dialog-title {
	margin: 0;
	padding: 1em;
	background: #ccc;
}
.labels {
	margin: 2%;
	width: 96%;
	max-height: 75%;
	overflow-y: scroll;
	border: 1px solid #ccc;
}
.annotation-dialog-table {
	width: 100%;
}
.label {
	width: 70%;
	word-break: break-word;
}
.occurances {
	padding-right: 1em;
}


@media 	only screen and (max-width: 1100px),
		only screen and (max-height: 750px),
		only screen and (min-resolution: 2dppx) {

.main-chart {
	width: 90%;
}
.sub-annotations-top {
	width: 93%;
	height: 100%;
}
.sub-annotations-outer {
	height: 100%;
}
.articles-top {
	margin-top: 1em;
}

}

@media only screen and (min-resolution: 2dppx) {

body {
	font-size: 1.2em;
}
.t {
	width: 60vw;
	height: 60vw;
}

}
